.row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  @include desktop-hd {
    flex-direction: row;
  }
  
  .coluna {
    background: #fff;
    box-shadow: 0 0 15px #dedede;
    padding: 45px;
    margin-bottom: 15px;

    @include desktop {
      width: calc(85%/2);
    }
  }
}

mat-expansion-panel {
  font-size: 13px !important;
}