app-login {
  .wrapper-login {
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    form {
      width: 350px;
      display: block;
      background: #fff;
      padding: 30px 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px #999;

      .container {
        display: flex;
        flex-direction: column;

        h2 {
          text-align: center;
        }
      }
    }
  }
}
