@import "../scss/colors";

.sidenav-container {
  height: 100%;
  .sidenav {
    width: 300px;
    .mat-toolbar {
      background: inherit;
    }
    .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  .logo-menu {
    height: 250px !important;
  }

  mat-nav-list {
    a {
      mat-icon {
        margin-right: 10px;
      }
    }
  }

  .mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-usuario {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: relative;

      .notificacao-usuario {
        margin-right: 20px;
        mat-icon {
          width: auto;
          font-size: 40px;
          line-height: 60px;
          cursor: pointer;
        }
      }

      .dados-usuario {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;

        &:hover {
          cursor: pointer;
          .menu-suspenso {
            display: block;
          }
        }

        .foto-usuario {
          margin-right: 10px;
          width: 35px;
          height: 35px;
          background: #fff;
          border-radius: 50%;
        }

        .nome-usuario {
          font-size: 16px;
        }

        .menu-suspenso {
          position: absolute;
          background: #fff;
          border: solid 1px #dedede;
          border-radius: 3px;
          display: none;
          width: 100px;
          top: 15px;
          
          li {
            list-style: none;
            a {
              font-size: 14px;
              text-decoration: none;
              color: #333;
              font-weight: bold;

              &:hover {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
