<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo-menu">
      <img src="../../../assets/img/logotipo.jpg" />
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['dashboard']">
        <mat-icon>view_week</mat-icon> Dashboard
      </a>
      
      <a mat-list-item [routerLink]="['relatorio-estabelecimento']">
        <mat-icon>domain_disabled</mat-icon> Estabelecimentos
      </a>
      <a mat-list-item [routerLink]="['rel-forma-pagamento']">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>payment</mat-icon> Formas de pagamento
      </a>
      <a mat-list-item [routerLink]="['rel-usuarios']">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>perm_identity</mat-icon> Usuários
      </a>

      <a mat-list-item [routerLink]="['relatorio-entregador']">
        <mat-icon>person_pin</mat-icon> Entregadores
      </a>
      <a mat-list-item [routerLink]="['relatorio-produto']">
        <mat-icon>add</mat-icon> Produtos
      </a>
      <a mat-list-item [routerLink]="['gestao-pedidos']">
        <mat-icon>clear_all</mat-icon> Pedidos
      </a>
      <a mat-list-item [routerLink]="['gestao-entregas']">
        <mat-icon>motorcycle</mat-icon> Entregas
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Delivery Já</span>
      <div class="menu-usuario">
        <div class="notificacao-usuario">
          <mat-icon>notification_important</mat-icon>
          <div class="menu-suspenso">
            Não há notificações
          </div>
        </div>
        <div class="dados-usuario">
          <div class="foto-usuario"></div>
          <div class="nome-usuario">Gabriel Patti</div>
          <ul class="menu-suspenso">
            <li><a href="">Perfil</a></li>
            <li><a [routerLink]="['']" href="">Sair</a></li>
          </ul>
        </div>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>