<div class="container">
    <h1>Entregas Realizadas</h1>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Pedido</strong> &nbsp; #1589
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Entregador</strong> &nbsp; Carlos Eduardo
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Data</strong> &nbsp; 10/02/2020
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="wrapper-dados">
                <mat-list>
                    <mat-list-item>
                        <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Total: </h4> &nbsp; R$105,50
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Solicitante: </h4> &nbsp; Ana Maria Eduardo (Cód: 1245)
                    </mat-list-item>   
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Status: </h4> &nbsp; Pedido entregue com sucesso
                    </mat-list-item> 
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>KM Percorrido: </h4> &nbsp; 8km
                    </mat-list-item>                                                                
                </mat-list>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Pedido</strong> &nbsp; #1588
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Entregador</strong> &nbsp; Carlos Eduardo
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Data</strong> &nbsp; 10/02/2020
                </mat-panel-title>             
            </mat-expansion-panel-header>

            <div class="wrapper-dados">
                <mat-list>
                    <mat-list-item>
                        <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Total: </h4> &nbsp; R$105,50
                    </mat-list-item>
                    <mat-divider></mat-divider>  
                    <mat-list-item>
                        <h4>Solicitante: </h4> &nbsp; Ana Maria Eduardo (Cód: 1245)
                    </mat-list-item>   
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Status: </h4> &nbsp; Pedido entregue com sucesso
                    </mat-list-item>      
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>KM Percorrido: </h4> &nbsp; 8km
                    </mat-list-item>                                                                
                </mat-list>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Pedido</strong> &nbsp; #1587
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Entregador</strong> &nbsp; Carlos Eduardo
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Data</strong> &nbsp; 10/02/2020
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="wrapper-dados">
                <mat-list>
                    <mat-list-item>
                        <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Total: </h4> &nbsp; R$105,50
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Solicitante: </h4> &nbsp; Ana Maria Eduardo (Cód: 1245)
                    </mat-list-item>                       
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Status: </h4> &nbsp; Pedido entregue com sucesso
                    </mat-list-item>   
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>KM Percorrido: </h4> &nbsp; 8km
                    </mat-list-item>                                              
                </mat-list>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</div>