<div class="wrapper-login">
    <form action="">
        <div class="container">
            <h2>MotoFood - Login</h2>
            <mat-form-field>
                <input matInput placeholder="Login" type="text">
            </mat-form-field>
    
            <mat-form-field>
                <input matInput placeholder="Senha" type="password">
            </mat-form-field>
    
            <button [routerLink]="['dashboard']" mat-raised-button color="primary">Logar</button>
    
        </div>
    </form>
</div>