<div class="container">
    <h1>Rastrear Entregas</h1>
    <mat-card>

        <mat-grid-list cols="2">

            <mat-grid-tile>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1117.2101148326553!2d-48.01030936045865!3d-21.119395620454565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1580671908147!5m2!1spt-BR!2sbr"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Pedido</strong> &nbsp; #1589
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>Entregador</strong> &nbsp; Carlos Eduardo
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>Data</strong> &nbsp; 10/02/2020
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="wrapper-dados">
                            <mat-list>
                                <mat-list-item>
                                    <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto,
                                    SP
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto,
                                    SP
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <h4>Total: </h4> &nbsp; R$105,50
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>
                    </mat-expansion-panel>


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Pedido</strong> &nbsp; #1588
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>Entregador</strong> &nbsp; Carlos Eduardo
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>Data</strong> &nbsp; 10/02/2020
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="wrapper-dados">
                            <mat-list>
                                <mat-list-item>
                                    <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto,
                                    SP
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto,
                                    SP
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <h4>Total: </h4> &nbsp; R$105,50
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>
                    </mat-expansion-panel>


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Pedido</strong> &nbsp; #1587
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>Entregador</strong> &nbsp; Carlos Eduardo
                            </mat-panel-title>
                            <mat-panel-title>
                                <strong>Data</strong> &nbsp; 10/02/2020
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="wrapper-dados">
                            <mat-list>
                                <mat-list-item>
                                    <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto,
                                    SP
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto,
                                    SP
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <h4>Total: </h4> &nbsp; R$105,50
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card>
    <br><br>
</div>