<div class="container">
    <h1>Rastrear Entregas</h1>

    <agm-map class="mapa-rastrear-entregas" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"
            [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

            <agm-info-window>
                <strong>Dados da entrega</strong><br>
                Saída: 10h20<br>
                Chegada: 11h00<br>
                Valor: R$10,00
            </agm-info-window>
        </agm-marker>

        <agm-circle [latitude]="lat" [longitude]="lng" [radius]="100000" [fillColor]="'red'"
            [circleDraggable]="false" [editable]="false">
        </agm-circle>
    </agm-map>
</div>