<div class="container">
  <h1>Dashboard</h1>
  
  <div class="row">
    <div class="coluna">
      <h3>Novos usuários</h3>
      <table class="tabela">
        <tr class="titulo">
          <td>Nome</td>
          <td>E-mail</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>João Pedro</td>
          <td>joao_pedro@gmail.com</td>
          <td>Ativo</td>
        </tr>
        <tr>
          <td>João Pedro</td>
          <td>joao_pedro@gmail.com</td>
          <td>Ativo</td>
        </tr>
        <tr>
          <td>João Pedro</td>
          <td>joao_pedro@gmail.com</td>
          <td>Ativo</td>
        </tr>                
      </table>
    </div>
    <div class="coluna">
      <h3>Novos estabelecimentos</h3>
      <table class="tabela">
        <tr class="titulo">
          <td>Nome</td>
          <td>Razão social</td>
          <td>CNPJ</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>João Carlos Eduardo LTDA</td>
          <td>Lorem Ipsum Dolor Sit</td>
          <td>00.000.000/0000-00</td>
          <td>Ativo</td>
        </tr>
        <tr>
          <td>João Carlos Eduardo LTDA</td>
          <td>Lorem Ipsum Dolor Sit</td>
          <td>00.000.000/0000-00</td>
          <td>Ativo</td>
        </tr>
        <tr>
          <td>João Carlos Eduardo LTDA</td>
          <td>Lorem Ipsum Dolor Sit</td>
          <td>00.000.000/0000-00</td>
          <td>Ativo</td>
        </tr>              
      </table>
    </div>    
  </div>

  <div class="row">
    <div class="coluna">
      <h3>Novos entregadores</h3>
      <table class="tabela">
        <tr class="titulo">
          <td>Nome</td>
          <td>CNH</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>João Pedro</td>
          <td>	1255221 AB</td>
          <td>Ativo</td>
        </tr>
        <tr>
          <td>João Pedro</td>
          <td>	1255221 AB</td>
          <td>Ativo</td>
        </tr>
        <tr>
          <td>João Pedro</td>
          <td>	1255221 AB</td>
          <td>Ativo</td>
        </tr>               
      </table>
    </div>
    <div class="coluna">
      <h3>Últimos pedidos</h3>
      <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Pedido</strong> &nbsp; #1589
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Entregador</strong> &nbsp; Carlos Eduardo
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Data</strong> &nbsp; 10/02/2020
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="wrapper-dados">
                <mat-list>
                    <mat-list-item>
                        <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Total: </h4> &nbsp; R$105,50
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Solicitante: </h4> &nbsp; Ana Maria Eduardo (Cód: 1245)
                    </mat-list-item>   
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Status: </h4> &nbsp; Pedido entregue com sucesso
                    </mat-list-item> 
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>KM Percorrido: </h4> &nbsp; 8km
                    </mat-list-item>                                                                
                </mat-list>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Pedido</strong> &nbsp; #1588
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Entregador</strong> &nbsp; Carlos Eduardo
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Data</strong> &nbsp; 10/02/2020
                </mat-panel-title>             
            </mat-expansion-panel-header>

            <div class="wrapper-dados">
                <mat-list>
                    <mat-list-item>
                        <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Total: </h4> &nbsp; R$105,50
                    </mat-list-item>
                    <mat-divider></mat-divider>  
                    <mat-list-item>
                        <h4>Solicitante: </h4> &nbsp; Ana Maria Eduardo (Cód: 1245)
                    </mat-list-item>   
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Status: </h4> &nbsp; Pedido entregue com sucesso
                    </mat-list-item>      
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>KM Percorrido: </h4> &nbsp; 8km
                    </mat-list-item>                                                                
                </mat-list>
            </div>
        </mat-expansion-panel>


        <mat-expansion-panel class="ultimos-pedidos">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Pedido</strong> &nbsp; #1587
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Entregador</strong> &nbsp; Carlos Eduardo
                </mat-panel-title>
                <mat-panel-title>
                    <strong>Data</strong> &nbsp; 10/02/2020
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="wrapper-dados">
                <mat-list>
                    <mat-list-item>
                        <b>Endereço de saída: </b> &nbsp; Av. Ronaldo Gomes, 1000 - Irajá - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <b>Endereço de entrega: </b> &nbsp; Rua Arlindo Cruz, 123 - Centro - Ribeirão Preto, SP
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Forma de pagamento:</h4> &nbsp; Dinheiro
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Total: </h4> &nbsp; R$105,50
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Solicitante: </h4> &nbsp; Ana Maria Eduardo (Cód: 1245)
                    </mat-list-item>                       
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>Status: </h4> &nbsp; Pedido entregue com sucesso
                    </mat-list-item>   
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h4>KM Percorrido: </h4> &nbsp; 8km
                    </mat-list-item>                                              
                </mat-list>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
    </div>    
  </div>  
</div>