<div class="container">
    <h1>Formas de Pagamento</h1>
    <mat-card>
        <form action="" class="wrapper-form">
            <mat-form-field>
                <input matInput placeholder="Nome" type="text">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Descrição" type="tel">
            </mat-form-field>

            <h4>Status</h4>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="Ativo" style="margin-right: 15px;">Ativo</mat-radio-button>
                <mat-radio-button value="Inativo">Inativo</mat-radio-button>
            </mat-radio-group>

            <br><br>

            <button mat-raised-button color="primary">Adicionar</button>

        </form>
    </mat-card>
    <br><br>
</div>