<div class="container">
    <h1>Realizar um Pedido</h1>
    <mat-card>
        <form action="" class="wrapper-form">
            <h4>Produto</h4>
            <mat-form-field>
                <mat-label>- Selecione -</mat-label>
                <mat-select>
                    <mat-option value="">X-Tudo</mat-option>
                    <mat-option value="">Pizza 4 queijos</mat-option>
                    <mat-option value="">Coca-cola 2L</mat-option>
                    <mat-option value="">X-Burguer</mat-option>
                </mat-select>
            </mat-form-field>

            <h4>Formas de pagamento</h4>
            <mat-form-field>
                <mat-label>- Selecione -</mat-label>
                <mat-select>
                    <mat-option value="Dinheiro">Dinheiro</mat-option>
                    <mat-option value="Crédito">Cartão de crédito</mat-option>
                    <mat-option value="Débito">Cartão de débito</mat-option>
                    <mat-option value="Todas opções">Todas opções</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Endereço para entrega"></textarea>
            </mat-form-field>            

            <br><br>

            <button mat-raised-button color="primary">Enviar Pedido</button>

        </form>
    </mat-card>
    <br><br>
</div>